.already-added {
    color:red;


}
.allJobs-main-cont {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px;
}
.allJobs-single-cont {
    /* background-color: red; */
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    border-bottom: 2px solid #4361ee;
    transition: .5s;
    cursor: pointer;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
/* .allJobs-single-cont:hover {
    transform: scale(1.1);
    box-shadow: none;
}
.allJobs-single-cont:hover p {
    color: #4361ee;
}
#allJobs-btns:hover button {
    background-color: #4361ee;
    color: white;
} */
.single-job-title p {
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 500;
    /* background-color: #4361ee; */
    /* color:#4361ee; */
    color: rgb(100, 98, 98);
    margin: auto;
    width:80%
}
.single-job-source p {
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 500;
    /* background-color: #4361ee; */
    /* color:#4361ee; */
    color: rgb(100, 98, 98);
    width: 40%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;

}
#allJobs-btns {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    /* background-color: red; */

}
#allJobs-btns button {
    /* width: 100px; */
    
    height: 25px;
    /* background-color: rgba(128, 128, 128, 0.205); */
    transition: .5s;
    /* background-color: #4361ee; */
    background-color: transparent;
    /* border: 1px solid #4361ee; */
    border: none;
    cursor: pointer;
    
    /* color: white; */
    /* color: #4361ee; */
    color: rgb(100, 98, 98);
    /* color: black; */
    
    font-size: 12px;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 3px;
    font-weight: 500;
    /* border: none; */
    border-radius: 3px;
    /* background-color: red; */
}





.allJobs-main-cont {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px;
}
.allJobs-single-cont {
    /* background-color: red; */
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    border-bottom: 2px solid #4361ee;
    transition: .5s;
    cursor: pointer;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
/* .allJobs-single-cont:hover {
    transform: scale(1.1);
    box-shadow: none;
} */
.allJobs-single-cont:hover p {
    /* color: #4361ee; */
}
/* .allJobs-single-cont:hover button {
    background-color: #4361ee;
    color: white;
} */
.single-job-title p {
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 500;
    /* background-color: #4361ee; */
    /* color:#4361ee; */
    color: rgb(100, 98, 98);
    margin: auto;
    width:80%
}
.single-job-source p {
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 500;
    /* background-color: #4361ee; */
    /* color:#4361ee; */
    color: rgb(100, 98, 98);
    width: 40%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;

}
.allJobs-btns {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 15px;

}
#allJobs-btns button {
    /* width: 100px; */
    height: 25px;
    background-color: rgba(128, 128, 128, 0.205);
    transition: .5s;
    /* background-color: #4361ee; */
    background-color: transparent;
    /* border: 1px solid #4361ee; */
    cursor: pointer;
    
    /* color: white; */
    /* color: #4361ee; */
    color: rgb(100, 98, 98);
    /* color: black; */

    /* font-size: 15px; */
    letter-spacing: 1px;
    padding: 5px;
    /* font-weight: 500; */
    /* border: none; */
    border-radius: 3px;
    font-size: 20px;
    /* background-color: red; */
}
#allJobs-btns button:hover {
    transform: scale(1.4);
    color: #4361ee;
}
