.all-jobs-cont {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.jobs-btns {
    /* background-color: #4361ee; */
    width: 50%;
    margin: auto;
    margin-top: 20px;
    /* justify-content: flex; */
    display: flex;
    justify-content: space-evenly;
}
.jobs-btns button {
    width: 130px;
    font-size: 13px;
    letter-spacing: 1px;
    height: 20px;
    border: none;
    cursor: pointer;
    padding: 2px;
    border: 2px solid transparent;
    /* background-color: red; */
    transition: .3s;
}
.jobs-btns button:hover {
    background-color: transparent;
    color: #4361ee;
    border: 2px solid #4361ee;

}
.clicked {
    background-color: transparent;
    color: #4361ee;
    /* background-color: #4362ee1c; */
    border: 2px solid #4361ee;
}
.notClicked {
    background-color: #4361ee;
    color: white;
}