.land-logo img {
    width: 180px;
    height: 170px;
    /* background-color: red; */
    margin-top: 20px;

}

.land-logo {
    margin-left: 120px;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* background-color:   red; */
    /* width: 400px; */

}

.land-nav-cont {
    /* background-color: #caf0f81c; */
    /* background-color: red; */
    background-color: rgba(68, 99, 238, 0.01);

    margin-bottom: 20px;

}

.landing-body-cont {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    gap: 40px;
    /* background-color: green; */
    height: 45vh;
}
.heading-landing-page {
    color: #4361ee;
    letter-spacing: 2px;
    /* background-color: white; */
    font-family: 'Pacifico', cursive;
    width: 100%;
    /* display: inline-block; */
}
.card-social {
    border-top: 4px solid #4361ee;
}
.card-img-job {
    width: 75px;
    height: 85px;
    /* color: #fcbf49; */
}
.logo-landing-page {
    width: 37px;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    height: 37px;
    background-color: #4361ee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border-radius: 3px;
}
.logo-landing-page p {
    /* background-color: red; */
    font-size: 24px;
    font-weight: 600;
    width: fit-content;
    margin: auto;
}
.land-heading-logo {
    display: flex;
    gap: 6px;
    /* flex-direction: row; */
    justify-content: start;
    align-items: center;
}
.card-work {
    border-top: 4px solid #fcbf49;
}

.land-main-cion {
    height: 100vh;
    width: 100vw;
    margin: auto;
    /* background-image:url('../../utilities/background .jpg') ; */
    background-color: white;
    /* background-color: red; */
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
/* color: #e5e5e5; */
color: white;

}

.landing-img img {
    width: 600px;
    height: 600px;
    /* background-color: #4361ee; */
}

.landing-img {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.landing-desc-text {
    font-size: 20px;
    letter-spacing: 1px;
    width: 400px;
    margin-bottom: 10px;
    /* background-color: teal; */

}

.landing-body-description {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 40px;
    /* background-color: blue; */
}

.landing-bod-content {
    /* background-color: teal; */
    /* padding: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    height: 70vh;
    width: 100%;
}

.landing-bod-content  {
    /* padding: 5px; */
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-heading {
    /* font-size: 40px; */
    font-size: 3rem;
    /* background-color: red; */
    font-weight: 500;
    letter-spacing: 1px;
    /* font-family: 'Pacifico', cursive; */
    color: #4361ee;
}

.landing-heading span {
    color: #4361ee;
}

.landing-btns {
    /* border: 1px solid red; */
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}


.landing-btns button {
    width: 115px;
    height: 35px;
    font-size: 16px;
    border: none;
    background-color: #4361ee;
    /* background-color: black; */

    border: 1px solid white;
    
    letter-spacing: 1px;
    border-radius: 3px;
    /* font-family: 'Pacifico', cursive; */
    margin: auto;
    transition: .3s;
    /* color: #e5e5e5; */
    color: white;

}
.landing-btns button:hover{
    background-color: white;
    /* color: black; */
    color: #4361ee;
    /* border: black; */
    border-color: #4361ee;
}
.card-container-landing {
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.card {
    background-color:white;
    width: 350px;
    height: 250px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.landing-demo-button {
    margin: auto;
    display: flex;
    /* background-color: red; */
    margin-bottom: 15px;
}
.card-img {
    width: 70px;
    height: 70px;
    align-self: flex-end;
}
.card {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    border-radius: 5px;
    /* border-top: 4px solid #e63946; */
}
.card-calander {
    border-top: 4px solid #e63946;
}
.card-img-cont {
    display: flex;
    justify-content: end;
}
.card-cont {
    /* background-color: red; */
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-cont h1 {
    color:#415a77 ;
    letter-spacing: 1px;
}
.card-cont p {
    letter-spacing: 1px;
    font-size: 17px;
    color: #6c757d;
}


.landing-demo-button button {
    border: none;
    width: 250px;
    /* width: 100%; */
    /* background-color: #4361ee;
     */
    /* font-family: 'Pacifico', cursive; */
    background-color: #4361ee;
    border: 1px solid white;
    height: 35px;
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    margin-top: 5px;
    border-radius: 3px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 40px;
    transition: .3s;


}
.landing-demo-button button:hover {
    background-color: white;
    color: #4361ee;
    border-color: #4361ee;
}

@media screen and (max-width:1160px) {
    .landing-body-cont {
        grid-template-columns: 1fr;
        gap: 20px;

    }

    .card-container-landing {
        flex-direction: column;
        margin: auto;
    }

    .landing-img img {
        max-width: 300px;
        max-height: 340px;
        /* background-color: blue; */
    }

    /* .landing-heading {

        font-size: 30px;
    } */
    .landing-body-cont {
        height: 100%;
    }
    .landing-body-content {
        height: 100%;
    }
    .landing-bod-content {
        height: 100%;
    }
    .land-main-cion {
        height: 100%;
    }
    
}
@media screen and (max-width:725px ) {
    .landing-heading {
        font-size: 22px;
    }
    
}

@media screen and (max-width:505px) {
    .landing-body-content {
        height: 100%;

    }
    .card-container-landing {
        flex-direction: column;
        margin: auto;
        margin-right: 20px;
        /* background-color: teal; */
        justify-content: center;
        align-items: center;
    }
    .card {
        width: 95%;
    }

}