.land-logo img {
    width: 180px;
    height: 170px;
    /* background-color: red; */
    margin-top: 20px;

}
.land-logo {
    margin-left: 120px;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* background-color:   red; */
    /* width: 400px; */
    
}

.land-nav-cont {
    /* background-color: #caf0f81c; */
    /* background-color: red; */
    background-color: rgba(68, 99, 238, 0.01);

    margin-bottom: 20px;
    
} 

.landing-body-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: green; */
}
.land-main-cion {
    height: 100vh;
    /* background-color: red; */
}
.landing-img img {
    width: 600px;
    height: 600px;
    /* background-color: #4361ee; */
}
.landing-img {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-desc-text {
    font-size: 20px;
    letter-spacing: 1px;
    width: 400px;
    margin-bottom: 10px;
    /* background-color: teal; */
    
}
.landing-body-description {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 40px;
    /* background-color: blue; */
}
.landing-bod-content {
    /* background-color: teal; */
    /* padding: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.landing-bod-content p {
    padding: 5px;
}
.landing-heading {
    font-size: 40px;
    /* background-color: red; */
    font-weight: 500;
    letter-spacing: 1px;
}
.landing-heading span {
    color: #4361ee;
}
.landing-btns {
    /* border: 1px solid red; */
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 15px;
}
.landing-btns button {
    width: 115px;
    height: 35px;
    font-size: 16px;
    border: none;
    background-color:#4361ee;
    letter-spacing: 1px;
    border-radius: 3px;
    
}
.landing-demo-button button {
    border: none;
    width: 250px;
    /* width: 100%; */
    background-color:#4361ee;
    height: 35px;
    font-size: 16px;
    letter-spacing: 1px;
    color:white;
    margin-top: 5px;
    border-radius: 3px;
    cursor: pointer;


}
@media screen and (max-width:1160px ) {
    .landing-body-cont {
        grid-template-columns: 1fr;

    }
    .landing-img img {
        max-width: 300px;
        max-height: 340px;
    }
}
@media screen and (max-width:505px ) {
    .landing-desc-text {
        font-size: 15px;
        letter-spacing: 1px;
        width: 300px;
        margin-bottom: 10px;
        /* background-color: teal; */
        
    }
}
