.profile-btn {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color:#4361ee;
    border: none;
    color: white;
    font-size: 13px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    cursor: pointer;

}
.profile-down {
    margin-left: 3px;
    margin-bottom: -2px;
    /* background-color: red; */
}
.user-btns-container {
    /* background-color: red; */
    width: 85px;
    margin-top: 34px;
    margin-left: 10px;
}
/* .profile-btn-logout {
    background-color: green;
    
} */
.profile-btn-logout button {
    padding: 4px;
    width: 100%;
    border-radius: 3px;
    border: none;
    font-size: 13px;
    /* background-color:#4362ee35 ; */
    background-color: transparent;
    color:#4361ee;
    transition: .5s;
    cursor: pointer;
}
.profile-btn-profile button {
    padding: 4px;
    width: 100%;
    border-radius: 3px;
    border: none;
    font-size: 13px;
    margin-top: 5px;
    /* background-color:#4362ee35 ; */
    background-color: transparent;
    color:#4361ee;
    transition: .5s;
    cursor: pointer;
}
.nav-user-connect {
    display: flex;
}
.profile-btn-profile button:hover {
    background-color: #4361ee;
    color: white;
}
.profile-btn-logout button:hover {
    background-color: #4361ee;
    color: white;
}

