.stats-main-container {
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
}




.stats-card-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: red; */
    /* background-color: red; */
    gap: 20px;
}
.stats-pending-container {
    /* background-color: red; */
    height: 100px;
    
    padding: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
     background-color: white;
}
.stats-test {
    height: 100px;
    padding: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr; 
    background-color: white;
    color: #6a82d8,
}
#stats-scheduled-text {
    color: #6a82d8;
    /* background-color: yellow; */
    /* background-color: red; */
}
.left-card-container {
    /* background-color: green; */
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.stats-number {
    /* background-color: yellow; */
    display: flex;
    justify-content: start;
    align-items: center;
}
.stats-number p {
    font-size: 22px;
    margin-left: 5px;
    font-weight: 500;
    margin-bottom: -5px;
}
.stats-text {
    margin-left: 5px;
    font-size: 10px;
    letter-spacing: 1px;
}
.right-card-container {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.stats-icon-wrapper {
/* background-color: ffeeee; */
width: 30px;
height: 25px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 16px;
/* background-color: blue; */
}
.stats-icon-wrapper-scheduled {
    background-color: #e0e8f9;
}
.stats-icon-wrapper-pending {
    background-color: #fcefc7;
}
.stats-icon-wrapper-declined {
    background-color: #ffeeee;
}
.stats-declined-colors {
    
    color: #d66a6a;
}
.stats-pending-colors {
    color: #e9b949
}
.stats-pending-border {
    border-bottom: 2px solid #e9b949;
    border-radius: 3px;
}
.stats-schduled-border {
    border-bottom: 2px solid #6a82d8;
    border-radius: 3px;
}
.stats-schduled-declined {
    border-bottom: 2px solid #d66a6a;
    border-radius: 3px;
}
.calander-container {
    display: grid;
    grid-template-columns: 1fr;
    /* background-color: #4362ee1c; */
    background-color: transparent;
    padding: 5px;
    width: 900px;
    height: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    /* background-color: blue; */
}
.calander-container {
    /* background-color: teal; */
    background-color: white;
}
:root {
    --fc-border-color: black;
    --fc-daygrid-event-dot-width: 5px;
  }
/* :root {
    background-color: none;
} */
.calander {
    /* background-color: white; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 90%;
    height: 90%;
    margin-top: 10px;
    margin-left: 10px;
}
.graph-container {
    display: grid;
    grid-template-columns: 1fr;
    /* background-color: #4362ee1c; */
    background-color: transparent;
    /* padding: 5px; */
    width: 890px;
    height: 700px;
    margin-top: 16px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    background-color:white;
}
.add-event-btn {
    position: absolute;
    bottom: 45px;
    right: 35px;
    width: 35px;
    height: 35px;
    transition: .3s;
/* background-color: teal;  */
height: 120px; 
display: flex;
flex-direction: column;
}
.add-int-stat {
    border-radius: 50%;
    /* background-color: #6a82d8; */
    /* background-color: red; */

    /* color: white; */
    /* color: red; */
    border: none;
    width: 40px;
    height: 40px;
    font-weight: 600;
    font-size: 20px;
    padding-top: 3px;
    z-index: 100;
    transition: .3s;
    /* border: 2px solid white; */
    
    color: #8338ec;
}
.add-int-stat:hover{
    /* background-color: white; */
    /* border-color: #6a82d8; */
    cursor: pointer;
    /* color: #6a82d8; */
    /* font-size: 25px; */
    transform: scale(1.3);
    color: #7ae582;
    /* right: 45px; */
}
#fav-stat-button {
    background-color: transparent;
    border: none;
    font-size: 26px;
    transition: .3s;
    /* background-color: red; */
    height: 34px;
}
.stats-fav {
    /* border: 1px solid red; */
    font-size: 37px;
    transition: .3s;
    /* background-color:#6a82d8 ; */
    color: #8338ec;
}
.stats-fav:hover {
    transform: scale(1.3);
    cursor: pointer;
    color: #7ae582;
}
.stat-dash-icon {
    border: none;
    width: 37px;
    height: 37px;
    font-weight: 600;
    font-size: 20px;
    padding-top: 3px;
    z-index: 100;
    transition: .3s;
    color: #8338ec;
}
.stat-dash-icon:hover {
    transform: scale(1.3);
    cursor: pointer;
    color: #7ae582;
}
/* #fav-stat-button:hover {
    transform: scale(1.3);
    font-size: 30px;
    cursor: pointer;
} */
#selected {
    color: #7ae582;
}
.my-calendar {
  background-color: lightblue; /* Change the background color here */
}
.main-stats-btm {
    /* background-color: red; */
    /* background-color: green; */
    background-color: transparent;
    flex-direction: row;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin: auto;
   
    
}
.right-side-main {
    display: grid;
    grid-template-columns: 1fr;
    /* background-color: #4362ee1c; */
    background-color: transparent;
    padding: 5px;
    width: 900px;
    height: 700px;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    /* width: 90%; */
}
.stats-main-container {
    /* background-color: green; */
    width: 90%;
}


@media (max-width: 1110px) {
    .stats-card-main-container {
        grid-template-columns: 1fr; /*
         Change to a single column 
         layout */
         width: 400px;
         margin: auto;
    }
    .calander-container {
        width: 530px;
        height: 480px;
        overflow-y: hidden;
    }
    .calander {
        width: 90%;
        overflow-y: hidden; /* Hide vertical scrollbar */
    }
    .add-event-btn {
        right: 10px;
    }
}
@media (max-width : 570px) {
    .calander-container {
        width: 400px;
        ;
    }
    .calander {
        width: 90%;
        height: 90%;
    }
}









