.del-comm-con {
    padding: 20px;
}
.del-comm-head p {
    font-size: 10px;
    letter-spacing: 1px;

}
.del-comm-btns {
    /* background-color: red; */
    width: 150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.del-comm-btns button {
    width: 60px;
    height: 20px;
    border: none;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 500;
    

}
.del-comm-yes-btn {
    background-color: #ef233c;
    color: white
}
.del-comm-can {
    background-color: #4361ee ;
    color: white;
}